{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="content">
        {% include 'includes/header.html' %}

        <main>
            <h1 hidden>Музыкальный сайт</h1>
            <section class="main-page">
                <div class="mainside">
                    <h2>Моя библиотека</h2>

                    <div class="favorite-tracks">
                        <a href="">
                            <div class="favorite">
                                <img src="{% static 'main/img/fav-tracks.png' %}" alt="">
                                <p>Любимые треки</p>
                            </div>
                        </a>

                    </div>

                    <ul class="tags">
                        <li><a href="">Всё</a></li>
                        <li><a href="">Новые релизы</a></li>
                        <li><a href="">Чарт</a></li>
                    </ul>

                    <div class="releases">
                        <h3>Недавние прослушанные</h3>
                        <p>Это альбомы, синглы которые вы недавно слушали</p>
                        {% include 'includes/releases.html' %}
                    </div>

                    <footer>
                        <a href="#"><img src="{% static 'main/img/logo.png' %}" alt="logo"></a>
                    </footer>
                </div>
                {% include 'includes/aside.html' %}
            </section>
        </main>


    </div>

{% endblock %}