{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="content">
        {% include 'includes/header.html' %}

        <main>
            <h1 hidden>Исполнитель</h1>
            <section class="main-page">
                <div class="mainside">
                    <div class="performer">
                        <img src="{% static 'main/img/performer.png' %}" alt="">
                        <div>
                            <p>Исполнитель</p>
                            <p>Yeat</p>
                        </div>
                    </div>

                    <ul class="tags">
                        <li><a href="">Всё</a></li>
                        <li><a href="">ПОПУЛЯРНЫЕ ТРЕКИ</a></li>
                        <li><a href="">ПОПУЛЯРНЫЕ АЛЬБОМЫ</a></li>
                    </ul>

                    <div class="chart">
                        <h3>Популярные треки</h3>
                        <div class="chart-list">
                            <a class="track" href="">
                                <div class="hidden-overlay">
                                    Играть
                                </div>
                                <div class="chart-card">
                                    <img src="{% static 'main/img/image 27.png' %}" alt="">
                                    <div>
                                        <p>No Handoutz</p>
                                        <p>Intermet Money & Yeat</p>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="chart-card">
                                    <img src="{% static 'main/img/image 27.png' %}" alt="">
                                    <div>
                                        <p>No Handoutz</p>
                                        <p>Intermet Money & Yeat</p>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="chart-card">
                                    <img src="{% static 'main/img/image 27.png' %}" alt="">
                                    <div>
                                        <p>No Handoutz</p>
                                        <p>Intermet Money & Yeat</p>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="chart-card">
                                    <img src="{% static 'main/img/image 27.png' %}" alt="">
                                    <div>
                                        <p>No Handoutz</p>
                                        <p>Intermet Money & Yeat</p>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="chart-card">
                                    <img src="{% static 'main/img/image 27.png' %}" alt="">
                                    <div>
                                        <p>No Handoutz</p>
                                        <p>Intermet Money & Yeat</p>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="chart-card">
                                    <img src="{% static 'main/img/image 27.png' %}" alt="">
                                    <div>
                                        <p>No Handoutz</p>
                                        <p>Intermet Money & Yeat</p>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="chart-card">
                                    <img src="{% static 'main/img/image 27.png' %}" alt="">
                                    <div>
                                        <p>No Handoutz</p>
                                        <p>Intermet Money & Yeat</p>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="chart-card">
                                    <img src="{% static 'main/img/image 27.png' %}" alt="">
                                    <div>
                                        <p>No Handoutz</p>
                                        <p>Intermet Money & Yeat</p>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="chart-card">
                                    <img src="{% static 'main/img/image 27.png' %}" alt="">
                                    <div>
                                        <p>No Handoutz</p>
                                        <p>Intermet Money & Yeat</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="releases">
                        <h3>Популярные альбомы</h3>
                        <div class="release-list">
                            <a class="track" href="">
                                <div class="hidden-overlay">
                                    Играть
                                </div>
                                <div class="release-card">
                                    <img src="{% static 'main/img/release.png' %}" alt="">

                                    <p>STAY</p>
                                    <p>The Kid Laroy & Justin</p>
                                    <p>сингл</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="release-card">
                                    <img src="{% static 'main/img/release.png' %}" alt="">

                                    <p>STAY</p>
                                    <p>The Kid Laroy & Justin</p>
                                    <p>сингл</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="release-card">
                                    <img src="{% static 'main/img/release.png' %}" alt="">

                                    <p>STAY</p>
                                    <p>The Kid Laroy & Justin</p>
                                    <p>сингл</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="release-card">
                                    <img src="{% static 'main/img/release.png' %}" alt="">

                                    <p>STAY</p>
                                    <p>The Kid Laroy & Justin</p>
                                    <p>сингл</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="release-card">
                                    <img src="{% static 'main/img/release.png' %}" alt="">

                                    <p>STAY</p>
                                    <p>The Kid Laroy & Justin</p>
                                    <p>сингл</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="release-card">
                                    <img src="{% static 'main/img/release.png' %}" alt="">

                                    <p>STAY</p>
                                    <p>The Kid Laroy & Justin</p>
                                    <p>сингл</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="release-card">
                                    <img src="{% static 'main/img/release.png' %}" alt="">

                                    <p>STAY</p>
                                    <p>The Kid Laroy & Justin</p>
                                    <p>сингл</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="release-card">
                                    <img src="{% static 'main/img/release.png' %}" alt="">

                                    <p>STAY</p>
                                    <p>The Kid Laroy & Justin</p>
                                    <p>сингл</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <footer>
                        <a href="#"><img src="{% static 'main/img/logo.png' %}" alt="logo"></a>
                    </footer>
                </div>
                {% include 'includes/aside.html' %}
            </section>
        </main>
    </div>
{% endblock %}