{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link type="Image/x-icon" href="{% static 'main/img/Frame-1.ico' %}" rel="icon">
    {% block extrastyle %}
        <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    {% endblock %}
    <title>Document</title>
</head>

<body>
<div class="wrapper">
    {% block content %}

    {% endblock %}
</div>
<script src="{% static 'account/js/show-pass.js' %}"></script>
</body>
</html>